* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  color: #c2bebe;
}
body {
  background-color: #212e37;
  width: 100vw;
}
.icon {
  width: 30px;
  height: 30px;
  padding: 5px;
  margin: 5px;
}
.head {
  width: 100vw;
  /* border: springgreen 5px solid; */
}
.head .title {
  height: 20%;
  text-align: center;
  margin: auto;
}
.subtitle {
  display: block;
  text-align: center;
  margin: auto;
}
.head .hero_img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  margin-top: 20px;
}
.searching_panel {
  display: flex;
  flex-flow: column nowrap;
  /* border: yellow 1px solid; */
  padding: 10px 20px;
  justify-content: space-around;
  align-items: center;
  position: relative;
  /* border: powderblue 1px solid; */
}
.searching_panel::after {
  content: "";
  position: absolute;
  width: 80vw;
  height: 2px;
  background-color: #c2bebe69;
  bottom: 0;
  z-index: -1;
}
.search,
.filter {
  text-align: center;
  border: none;
}
.input_field {
  display: flex;
  flex-flow: row nowrap;
  height: 50%;
  align-items: center;
  justify-content: center;
  background-color: #2b3743;
  border-radius: 5px;
  margin: 10px 10px;
  box-shadow: 10px 10px 10px #0000006e;
}
.input_field input {
  background-color: transparent;
  border: none;
  padding: 5px 15px;
}
.input_field .icon:hover {
  transform: scale(1.2);
  transition: ease-in-out 0.3s;
}
.filter {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background: transparent;
  cursor: pointer;
  position: relative;
}
.filter_btn {
  border: none;
  background: transparent;
  margin: 5px;
}

.filter:hover .filter_btn {
  transform: scale(1.05);
  transition: ease-out 0.4s;
}

.filter_regions {
  width: 100%;
  padding: 5px;
  position: absolute;
  bottom: 0;
  transform: translate(0, 100%);
  background-color: #2b3743;
  border-radius: 5px;
  border: #c2bebe 1px solid;
}

.inactive {
  display: none;
}

.region_name {
  padding: 5px;
}

.region_name:hover {
  text-decoration: underline overline #c2bebe;
}

.app {
  width: 100vw;
}

.countries_panel {
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  /* border: red 1px solid; */

  align-items: center;
  justify-content: center;
}
.countryEl {
  width: 120px;
  height: 100px;
  font-size: 0.6rem;
  background-color: #2b3743;
  margin: 20px;
  padding: 5px;
  padding-top: 7px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid #555454;
  cursor: pointer;
}
.countryEl img {
  width: 80%;
  height: 70%;
  border-radius: 5px;
}
.search-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.popup--inactive {
  display: none;
}
.popup__bg {
  height: 100%;
  width: 100%;
  z-index: 110;
  background-color: #c4c4c4a2;
  position: relative;
}
.popup__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  min-width: 1000px;
  height: 80%;
  background-color: #212e37;
  border-radius: 20px;
  padding: 50px;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-areas:
    "title flag"
    "data flag"
    "data map"
    "data map"
    "data map";
  grid-gap: 1em;
}
.popup__title {
  color: #e5e5e5;
  font-size: 2rem;
  /* border: 1px solid red; */
  grid-area: title;
  text-align: center;
}
.popup__data {
  /* border: 1px solid green; */
  grid-area: data;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
}
.popup__flag {
  /* border: 1px solid yellow; */
  grid-area: flag;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup__flag img {
  width: 40%;
  height: auto;
}
.popup__map {
  /* border: 1px solid violet; */
  grid-area: map;
  width: 100%;
  height: 300px;
}

@media (min-width: 768px) {
  .head .hero_img {
    height: 300px;
  }
  .searching_panel {
    flex-direction: row;
  }
}
